{%extends 'Sunfyre/basic.html'%}
{% block title%}Added Queue{% endblock %}

{% block body %}
{% load static %} 
<h1 style="color: black; text-align: center; font-family:'Poppins';">Queue</h1>

{% if song|length < 1 %}
        <h3 style="text-align: center; padding-top: 5%;font-family:'Poppins';">No audio added</h3>
{% endif %}

<div class="container">
{% for i in song %}
<div class="card mb-3" style="max-width: 940px; padding-top: 0%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/media/{{i.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: blacl; font-weight: 550; font-family:'Poppins';">{{i.name}}</h5>
          <p class="card-text">Artist: {{i.singer}}</p>
        <p class="card-text">Album: {{i.movie}}</p>
          <a href="/sunfyre/songs/{{i.song_id}}"><button class="btn btn-outline-secondary">Listen </button></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}